	// bootstrap settings overwrite

	// $blue:#267FFD;
	// $green:#2CD039;
	// $yellow:#E8CE4D;
	// $gray:#c0c5cb;
	// $light-gray:#808995;
	// $gray-100:$light-gray;

$color-primary: #12293B;
$color-black: #000;
$color-white: #FFF;
$color-grey: #58595B;
$color-lightgrey: #B4B3B3;

$color-font-main: #58595B;

$color-placeholder: $color-font-main;

$font-main: 'AzoSans';
$h1-size:36px;